
$color-black: #171717;
$color-black-2: #212121;
$color-white: #ffffff;
$color-white-2: #F2F2F2;
$color-light-gray: #828282;
$color-light-gray-2: #535353;


$color-green: #27AE60;



$font-heading-extra-larg: 36px;
$font-heading-1: 30px;
$font-heading-2: 24px;
$font-heading-3: 18px;
$font-subtitle-1: 16px;
$font-subtitle-1: 14px;
$font-subtitle-1: 12px;
$font-para-1: 10px;

$font-weight-extra-bold:800;
$font-weight-bold:600;
$font-weight-normal:400;
$font-weight-light:300;




$font-family: 'PT Sans', sans-serif;

$li-padding: 5px;

// colors
$background-color: #1a1a1a;
$progressbar-title-color: #fff;

$red: #c0392b;
$blue: #1199ff;
$purple: #9b59b6;
$orange: #ffa500;
$green: #27ae60;

$animation-delay: .7s;

